@charset "UTF-8";

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button{
    margin-left: 40px;
    margin-bottom: 40px;
}

div{
    margin-left: 40px;

}

/*-------------------Botão 1-------------------*/
.bnt1 {
    background: transparent;
    color: #3bd9d9;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    padding: 16px 36px;
    border: 2px solid #3bd9d9;
    border-radius: 32px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}

.bnt1::before {
    content: "";
    position: absolute;
    background: #3bd9d9;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(6px);
}

.bnt1:hover::before {
    left: calc(100% + 32px);
    transition: 0.75s;
}
/*---------------------------------------------*/

/*-------------------Botão 2-------------------*/
/*.btn2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2f3640;
}*/

.btn2-container i{
    color: #fff;
    font-size: 1rem;
}

.btn2-pulse {
    background: #44bd32;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn2-pulse::before {
    content: "";
    position: absolute;
    width: calc(100% + 40px); 
    height: calc(100% + 40px);
    border: 2px solid #44bd32;
    border-radius: 50%;
    animation: animate 1.5s linear infinite; 
}

.btn2-pulse::after {
    content: "";
    position: absolute;
    width: calc(100% + 40px); 
    height: calc(100% + 40px);
    border: 2px solid #44bd32;
    border-radius: 50%;
    animation: animate 1.5s linear infinite; 
    animation-delay: 0.4s;
}

@keyframes animate{
    0% {transform:scale(0.5);
        opacity:0;
    }
    50% {transform:scale(1);
        opacity:1;
    }
    100% {transform:scale(1.4);
        opacity:0;
    }
}
/*---------------------------------------------*/

/*-------------------Botão 3-------------------*/
.bnt3{
    font-size: 24px;
    color: #2F2F2F;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #2F2F2F;
    border-radius: 32px;
    padding: 16px 36px;
    transition: 0.4s;
}

.bnt3:hover{
    color: #fff;
}

.btn3::before{
    content: "";
    position: absolute;
    width: 62px;
    height: 300px;
    z-index: -1;
    border-radius: 48px;
    background-color: #00FF7F;
    transform: translate(-24px, -8px);
    transition: 0.4s;
}

.bnt3:hover::before{
    background-color: #9E55FF;
    transform: translate(-33px, -13px);
}
/*---------------------------------------------*/

/*-------------------Botão 4-------------------*/
.bnt4{
    display: inline-block;
    font-size: 24px;
    border: 0;
    border-radius: 32px;
    padding: 16px 36px;
    text-transform: uppercase;
    color: #fff;
    background-color: #B527CF;  
    cursor: pointer;
    overflow: hidden;
    transform: translate(0);
}

.btn4::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #B527CF, #3BD9D9);
    transition: .4s ease;
    transform: scaleX(0);
    transform-origin: 100% 0%;
}

.btn4:hover::before{
    transform: scaleX(1.1) scaleY(1.1);
}
/*---------------------------------------------*/