@charset "UTF-8";

body::-webkit-scrollbar{
    width: 16px;
}

body::-webkit-scrollbar-track{
    background: #305473;
    border-radius: 16px;
}

body::-webkit-scrollbar-thumb{
    background-color: #B400Fb;
    border-radius: 16px;
}

.cabecario{
    display: flex;
    width: 100%;
    height: 100px;
    margin: auto auto 40px;
    background: #b400fb;
}

.titulo{
    font-family: cursive;
    font-size: 30px;
    margin: 25px 20px;
}

.cab-ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 60px 20px;
    list-style: none;
}

.cab-ul a{
    padding: 8px;
    margin-right: 30px;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    border: solid 2px #000;
    border-radius: 10px;
    color:#000;
    background: #9E55FF;
}

details{
    margin-bottom: 40px;
}
summary{
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
}

.caixa{
    padding: 10px;
    background: #4F4F4F;
    border-radius: 5px;

}
.isTeg{
    color: #FF7F00;
}

.isClasse{
    color: #00AA00;
}

.isAspas{
    color: #CD00CD;
}

.nameClasse{
    color: #8EE5EE;
}

.textName{
    color: #FFF;
}

.isTitle{
    font-weight: bold;
}

